{% extends "base.html" %}
{% load staticfiles %}

{% block scripts %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
<script src="{% static 'mapgraphics.js' %}"></script>
{% endblock %}



{% block content %}
<table onload="on_load()">
  <tr>
    <button onclick=draw_map_area() id="btn_drawing" style="background: #ca4104">Draw Area</button>
    <td class="maprow" width=80% valign="top">
      <div id="map" style="height:400px; width:100%;"</div>
      </td>
      <td class="maprow" width=20% valign="top">
        <button onclick=select_all_visible()>Select All</button>
        <button onclick=deselect_all_visible()>Deselect All</button>
        <button onclick=repan_include_all()>Repan</button>
        <button onclick=select_followers() id="btn_select_followers">Followers</button>
        <input type="text" name="search" onkeyup="filter(document)" placeholder="Search.." />
        <div class="select_users" id="user_list">

          {% for u in user_list %}
          <div name="{{ u.fullname }}">
            <input type="checkbox" name="user_checkbox" id="check_{{u.athlete_id}}" onchange="checkbox_change()"/>{{ u.fullname }}<br />
          </div>
          {% endfor %}
        </div>
      <td>
    </tr>
</table>
      <script>


      $('window').ready(on_load());

      function initMap() {

        function dist_from_polyline(cord, polyline){
          return google.maps.geometry.poly.isLocationOnEdge(cord, polyline, 0.004);
        }


        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });


        // var marker = new google.maps.Marker({
        //   position: uluru,
        //   map: map
        // });

        var contentString = "hello";
        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });
        polylines = [];
        infolines = [];


        google.maps.event.addListener(infowindow, 'closeclick', function () {
          setColor('#FF0000', infolines);
        });
        function click(loc){
          var open = false;
          var str = "";
          var n_infolines = [];
          for (var x in polylines){
            if(dist_from_polyline(loc.latLng, polylines[x][0])){
              open = true;
              n_infolines.push(polylines[x][0]);
              str+=polylines[x][1]+"<br>";

            }
          }

          infowindow.close();
          line_unclicked(infolines);

          if(open){
            //open infowindow
            infowindow.setOptions({position: loc.latLng});
            infowindow.setContent(str);
            infowindow.open(map);
            for(var i in infolines){

            }
            infolines = n_infolines;
            line_clicked(infolines);
          } else{
            //if drawing is true add marker
            // add marker
          }
        };


        function add_polyline(points, title, id, athlete_id, map){

          var path = new google.maps.Polyline({
            path: points,
            geodesic: true,
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 2,
            zIndex: 2
          });
          str = "<a href=\"https://www.strava.com/activities/" + id + "\">" + title + "</a>"
          polylines.push([path, str, points]);
          add_polyline_dict(path, 'check_' + athlete_id);
          google.maps.event.addListener(path, 'click', function(e){
            click(e);
          });



          path.setMap(map);




        }

        google.maps.event.addListenerOnce(map, 'idle', function(){
          repan_include_all();
        });

        map.addListener('click', function(e){
          click(e);
        });

        {% for path in polyline_list %}
        add_polyline({{path.points}}, "{{path.title}}", "{{path.id}}", "{{path.athlete_id}}", map);
        {%endfor%}


      }
      </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API }}&callback=initMap">
      </script>

      {% endblock %}
