{% extends "base.html" %}
{% load staticfiles %}

{% block scripts %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
<script src="{% static 'mapgraphics.js' %}"></script>
{% endblock %}




{% block content %}
<!-- Shape Leaderboard Window -->
<div class="modal fade" id="shape_leaderboard" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document"> <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-
        hidden="true">&times;</span></button>
        <h4 class="modal-title" id="shape_leaderboard_title">Leaderboard</h4>
        Show:
        <select id="leaderboard_size" onchange=filter_leaderboard()>
          <option value="-1">all</option>
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="50">50</option>
        </select>
      </div>
      <div class="modal-body">
        <table class="table">
          <tbody id ="shape_leaderboard_rows">
          <tr>
            <td>User</td>
            <td>Distance (km)</td>
          </tr>
        </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<button onclick=draw_map_area() id="btn_drawing" style="background: #ca4104">Draw Area</button>

<table onload="on_load()">
  <tr>

    <td class="maprow" width=80% valign="top">
      <div id="map" style="height:400px; width:100%;"</div>
      </td>
      <td class="maprow" width=20% valign="top">
        <div class="btn-group">
          <div class="dropdown">
            <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="select_dropdown_menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Select...
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#" onclick="select_all_visible()">All</a></li>
              <li><a href="#" onclick="deselect_all_visible()">None</a></li>
              <li class="followers"><a href="#" onclick="select_followers()">Folowers</a></li>
              <li class="followers"><a href="#" onclick="select_only_followers()">Only Folowers</a></li>
            </ul>
          </div>
          <div class="dropdown">
            <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="filter_dropdown_menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Filter...
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#" onclick="remove_filter()">Reset</a></li>
              <li class="followers"><a href="#" id="filter_followers_btn" onclick="filter_followers()">Folowers</a></li>
            </ul>
          </div>
        </div>
        <input id="rider_search_field" type="text" name="search" onkeyup="filter()" placeholder="Search.." />
        <div class="select_users" id="user_list">

          {% for u in user_list %}
          <div name="{{ u.fullname }}">
            <input type="checkbox" name="user_checkbox" id="check_{{u.athlete_id}}" data-id="{{u.athlete_id}}" onchange="checkbox_change()"/>{{ u.fullname }}<br />
            <script> athlete_dict[{{ u.athlete_id }}] = "{{ u.fullname }}"; </script>
          </div>
          {% endfor %}
        </div>
      <td>
    </tr>
</table>
      <script>


      $('window').ready(on_load());

      function initMap() {

        function dist_from_polyline(cord, polyline){
          return google.maps.geometry.poly.isLocationOnEdge(cord, polyline, 0.004);
        }


        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });


        // var marker = new google.maps.Marker({
        //   position: uluru,
        //   map: map
        // });

        var contentString = "hello";
        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });
        shapeInfoWindow = new google.maps.InfoWindow();
        polylines = [];
        infolines = [];


        google.maps.event.addListener(infowindow, 'closeclick', function () {
          setColor('#FF0000', infolines);
        });
        function click(loc){
          var open = false;
          var str = "";
          var n_infolines = [];
          for (var x in polylines){
            if(dist_from_polyline(loc.latLng, polylines[x][0])){
              open = true;
              n_infolines.push(polylines[x][0]);
              str+=polylines[x][1]+"<br>";

            }
          }



          infowindow.close();
          line_unclicked(infolines);

          if(open){
            //open infowindow
            infowindow.setOptions({position: loc.latLng});
            infowindow.setContent(str);
            infowindow.open(map);
            for(var i in infolines){

            }
            infolines = n_infolines;
            line_clicked(infolines);
          } else{
            //if drawing is true add marker
            if(drawing){
              var point  = new google.maps.Marker({
                position: loc.latLng,
                map: map,
                draggable: true
              });
              drawing_points.push(point);
              point.addListener('click', function(){
                //find point in list
                var i;
                for(var j in drawing_points){
                  if(drawing_points[j]==point){
                    i=j;
                  }
                }
                if(drawing_points.length-i>=3){
                  var shape = new google.maps.Polygon({
                    paths: drawing_points.slice(i).map(function(x){return x.position}),
                    strokeColor: "#00FF00",
                    strokeOpacity: 0.5,
                    strokeWeight: 2,
                    fillColor: "#00FF00",
                    fillOpacity:0.35,
                    draggable:true,
                    editable:true
                  });
                  shape.addListener('click', function(e){
                    shapeInfoWindow.setOptions({position: e.latLng});
                    clicked_shape = shape;
                    var infowindow_html = "<button type=\"button\" class=\"btn btn-default\" onclick=\"shape_rider_leaderboard()\">Show Leaderboard</button> ";
                    infowindow_html += "<button type=\"button\" class=\"btn btn-default\" onclick=\"delete_shape()\">Delete</button> ";
                    shapeInfoWindow.setContent(infowindow_html);
                    shapeInfoWindow.open(map);
                  });
                  shape.setMap(map);
                }


                for (var j in drawing_points){
                  drawing_points[j].setMap(null);
                }
                drawing_points = [];
                draw_map_area();
              });
            }


          // add marker

          }
        };


        function add_polyline(points, title, id, athlete_id, map){

          var path = new google.maps.Polyline({
            path: points,
            geodesic: true,
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 2,
            zIndex: 2
          });
          str = "<a href=\"https://www.strava.com/activities/" + id + "\">" + title + "</a>"
          polylines.push([path, str, points]);
          add_polyline_dict(path, athlete_id);
          google.maps.event.addListener(path, 'click', function(e){
            click(e);
          });



          path.setMap(map);




        }

        google.maps.event.addListenerOnce(map, 'idle', function(){
          repan_include_all();
        });

        map.addListener('click', function(e){
          click(e);
        });

        {% for path in polyline_list %}
        add_polyline({{path.points}}, "{{path.title}}", "{{path.id}}", "{{path.athlete_id}}", map);
        {%endfor%}


      }
      </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API }}&callback=initMap">
      </script>

      {% endblock %}
