{% extends "base.html" %}
{% load staticfiles %}

{% block scripts %}
<script src="{% static 'newaccount.js' %}"></script>
{% endblock %}

{% block content %}

<td><button class="btn btn-default" onclick=delete_activity(-1)> <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete All</button></td>
<div class="table-responsive">
<table class="table">
  <tr>
    <td>User</td>
    <td>Activity Title</td>
    <td></td>
  </tr>
  {% for act in activities %}
  <tr>
    <td>{{act.athlete_name}}</td>
    <td>{{act.title}}</td>
    <td><button class="btn btn-default" onclick=delete_activity({{act.id}})><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
    <!-- TODO Make this button borderless and have the trashcan change color on hover -->
  {% endfor %}
</table>
</div>
{% endblock %}
