{% extends "base.html" %}
{% load staticfiles %}

{% block scripts %}
<script src="{% static 'newaccount.js' %}"></script>
{% endblock %}

{% block content %}


<div class="table-responsive">
<table class="table">
  <tr>
    <td>Name</td>
    <td>Username</td>
  </tr>
{%for user in user_list%}
<tr>
  <td>{{user.name}}</td>
  <td>{{user.username}}</td>
  <td><button class="btn btn-default" onclick=deleteUser("{{user.username}}")><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
{%endfor%}
</table>
</div>
{% endblock %}
