.input[type=text] {
    width: 100%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.select_users{
  height: 370px;
  overflow: scroll;
}

.maprow{
  height: 400px;
}
